<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Vue</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <div id="app">
        <!-- attribute binding -->
        <!-- <a v-bind:href="url">website</a> -->
        <div v-if="showBooks">
            <ul>
                <li v-for="book in books">
                    <img :src="book.img" :alt="book.title">
                    <h3>{{book.title}}</h3>
                    <p>{{book.name}}</p> 
                </li>
            </ul>
        </div>
        <button @click="toogleBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>
    <script src="app.js"></script>
</body>

</html>